header {
    background-image: url(https://149448400.v2.pressablecdn.com/wp-content/uploads/2021/10/company-551-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin-bottom: 5%;
}

.header_titre {
    padding-top: 10%;
    padding-left: 7%;
}

.header_titre h1{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 6vw;
    color: #FFFFFF!important;
}

.header_titre h2 {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 7vw;
    color: #2babe2!important;
    margin-top: -5%;
}

.header_titre h3 {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 300;
    font-size: 6vh;
    color: #FFFFFF!important;
    margin-top: -2%;
}

.header_titre p {
    color: rgba(255,255,255,0.63);
    font-family: 'Roboto Condensed',Helvetica,Arial,Lucida,sans-serif;
    font-size: 2vh;
    line-height: 1.8em; 
    margin-top: 3%;
}

.header_titre a {
    display: inline-block;
    margin-top: 1.5rem;
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;
    background-color: #2babe2;
    font-size: 1rem;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    margin-bottom: 10%;
    transition: 300ms ease-out;
}

.header_titre a:hover {
    background-color: #FFFFFF;
    color: black;
    transition: 300ms ease-in;
}

.header_col_2 {
    background-image: url(https://149448400.v2.pressablecdn.com/wp-content/uploads/2021/10/company-55-hero-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header_col_2 img {
    width: 35%;
}

.section_1_triple_div {
    margin-bottom: 5%;
}

.section_1_triple_div h2 {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    color: #040d26;
    line-height: 1.5em;
}

.section_1_triple_div p {
    color: #8c8c8c;
    line-height: 1.8em;
    font-family: 'Roboto Condensed',Helvetica,Arial,Lucida,sans-serif;
    font-size: 15px;
}

.section_1_double_image img {
    width: 40%;
    margin-bottom: 5%;
}

.linear {
    background: linear-gradient(180deg,#fff 50%, #ecf7fc 0%);
}

.border_top:hover {
   transform: translateY(-5px);
   transition: 300ms ease-in;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;

}

.section_1_double_image a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    background-color: #2babe2;
    font-size: .7rem;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    transition: 300ms ease-out;
}

.section_1_double_image a:hover {
    background-color: black;
    transition: 300ms ease-out;
}

.section_1_double_image h2 {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #040d26;
}

.section_1_double_image p {
    font-family: 'Roboto Condensed',Helvetica,Arial,Lucida,sans-serif;
    font-size: 15px;
    color: #8c8c8c;
    line-height: 1.8em;
}

.border_top {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-top: 3px solid #2babe2;
    background-color: #FFFFFF;
    transition: 300ms ease-out;
    margin-bottom: 5%;
}

.nostrum a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;
    background-color: #2babe2;
    font-size: .8rem;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    margin-bottom: 2%;
    transition: 300ms ease-out;
}

.nostrum h2 {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    color: #040d26!important;
    line-height: 1.1em;
}

.nostrum p {
    font-family: 'Roboto Condensed',Helvetica,Arial,Lucida,sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    color: #8c8c8c;
    margin-bottom: 1%;
}

.border_left {
    border-left: 1px solid #c6c6c6;
}

.filler {
    background-color: #ecf7fc;
    height: 100px;
}

.linear_2 {
    background: linear-gradient(180deg,#ecf7fc 50%, #FFFFFF 0%);
    padding-right: 100px;
}

.img_femme {
    background-image: url(https://149448400.v2.pressablecdn.com/wp-content/uploads/2021/10/company-55-bg-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.linear_2 h2 {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 100px;
    color: #2babe2!important;
    letter-spacing: -7px;
    margin-bottom: -5px;
}

.linear_2 h3 {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-size: 40px;
    line-height: 15px;
    color: #FFFFFF;
    margin-bottom: -5px;
    padding-left: 50%;
}

.linear_2 h4 {
    font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-size: 80px;
    line-height: 60px;
    color: #fff;
}

.dotted_circle {
    padding: 100px;
    width: 450px;
    height: 450px;
    border-radius: 100%;
    border-width: 5px;
    border-style: dotted;
    border-color: #FFFFFF;
    margin-top: 8%;
}

.marques {
    margin-top: 5%;
}

.marques img {
    width: 35%;
    margin-bottom: 15%;
}

.services {
    margin-top: 5%;
    margin-bottom: 5%;
}

.services_2 {
    margin-top: 2%;
}

.services-txt h2 {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
    color: #040d26;
    line-height: 1.1em;
}

.services_txt p {
    line-height: 1.8em;
    font-family: 'Roboto Condensed',Helvetica,Arial,Lucida,sans-serif;
    font-size: 15px;
    color: #040d26;
}

.services_2 h2 {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #040d26;
    line-height: 1.6em;
}

.services_2 p {
    font-family: 'Roboto Condensed',Helvetica,Arial,Lucida,sans-serif;
    font-size: 15px;
    color: #8c8c8c;
    line-height: 1.8em;  
}

.services_2 a {
    text-decoration: none;
    color: #040d26;
    font-size: 14px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    transition: 300ms ease-out;
}

.services_2 a:hover {
    color: #2babe2;
    transition: 300ms ease-in;
}

.icon_absolute {
    width: 25%;
    margin-left: 68%;
    transform: translateY(-40px);
    margin-bottom: -40px;
}

footer {
    background-color: #2babe2;
}

footer h2 {
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.4em;
    color: #fff;
}

footer p {
    font-family: 'Roboto Condensed',Helvetica,Arial,Lucida,sans-serif;
    font-size: 15px;
    line-height: 1.8em;
    color: #fff;
    margin-bottom: -.5%;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: #040d26;
    font-size: 15px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;
    transition: 300ms ease-out;
}

footer a:hover {
    background-color: #040d26;
    color: #fff;
}

@media screen and (max-width: 1399px) {
    .header_titre h1{
        font-size: 9vw;        
    }

    .header_titre h2 {
        font-size: 10vw;
    }
    
}

@media screen and (max-width: 991px) {
    .header_titre h1{
        font-size: 11vw;        
    }

    .header_titre h2 {
        font-size: 12vw;
    }

    .border_left {
        border-left: none;
    }

    .nostrum a {
        margin-top: 15px;
    }

    .nostrum p {
        margin-bottom: 2px;
    }

    .icon_absolute {
        width: 15%;
    }
    
    .linear_2 {
        padding-right: 0;
    }

    .footer_col_2 {
        margin-top: 4%;
    }
}

@media screen and (max-width: 767px) {
    .header_titre h1{
        font-size: 13vw;        
    }

    .header_titre h2 {
        font-size: 14vw;
    }

    .header_col_2 {
        height: 300px;
        background-position: center;
    }

    .icon_absolute {
        margin-left: 83%;
    }

}